footer {
	.copyright {
		p {
			font-size: 14px;
			color: $text-color-light;
		}
	}
	.cta {
		h2 {
			font-weight: 700;
		}
	}
	a.cat {
		color: $text-color-light!important;
		.emoji {
			transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
		}
	}
	a.cat:hover {
		.emoji {
			display: inline-block;
			transform: rotate(15deg) translateY(-20px) scale(1.4);
		}
	}
}