.header {
  height: 100vh;
  border-bottom: 1px solid $lightGray;
  position: relative;
  overflow: hidden;

  h2 {
    font-family: CaslonPro, "Times New Roman";
    opacity: 0;
    transition: opacity 1s ease;
    line-height: 1.5;
    position: absolute;

    &.show {
      opacity: 1;
    }
  }
  h1 {
    .first,
    .second {
      opacity: 0;
    }
    .first {
      transition: opacity 1s ease-in;
      transition-delay: 1s;
    }
    .second {
      transition: opacity 0.6s ease-in;
      transition-delay: 1.8s;
    }
  }
}

.yellow-box {
  transform: scale(1);
  position: absolute;
  margin: auto;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  transition: all 1s ease;
}

.header.animate {
  .yellow-box {
    transform: scale(3);
    right: -25%;
  }
  h1 {
    .first {
      opacity: 1;
    }
    .second {
      opacity: 1;
    }
  }
}
