* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  max-width: 100%;
}
body {
  height: calc(100vh - env(safe-area-inset-bottom));
  overflow: hidden;
}
h1 {
  font-size: 64px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  color: $black;
}
h2 {
  font-size: 26px;
  line-height: 1.2;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  color: $black;
}
h3 {
  font-size: 26px;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  color: $black;
}
.padding {
  padding-top: 60px;
  padding-bottom: 60px;
}
.spacing {
  display: block;
  height: 15px;
  &.large {
    height: 30px;
  }
}
.container {
  max-width: 1200px;
  margin: auto;
  padding-left: 40px;
  padding-right: 40px;
  &.padding {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  &.padding-small {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  &.full {
    max-width: 100%;
  }
}
.flex {
  display: flex;
  &.column {
    flex-direction: column;
  }
  &.center-left {
    justify-content: center;
    align-items: flex-start;
  }
  &.center-bottom {
    justify-content: flex-end;
    align-items: flex-start;
  }
  &.center-center {
    justify-content: center;
    align-items: center;
  }
  &.center {
    justify-content: center;
  }
  &.reverse {
    flex-direction: row-reverse;
  }
  &.spacebetween {
    justify-content: space-between;
  }
}

.relative {
  position: relative;
}

.animate-pulse {
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}
