@font-face {
  font-family: CaslonPro;
  src: url(../fonts/ACaslonPro-Regular.otf); }

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  max-width: 100%; }

body {
  height: calc(100vh - env(safe-area-inset-bottom));
  overflow: hidden; }

h1 {
  font-size: 64px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  color: #000; }

h2 {
  font-size: 26px;
  line-height: 1.2;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  color: #000; }

h3 {
  font-size: 26px;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  color: #000; }

.padding {
  padding-top: 60px;
  padding-bottom: 60px; }

.spacing {
  display: block;
  height: 15px; }
  .spacing.large {
    height: 30px; }

.container {
  max-width: 1200px;
  margin: auto;
  padding-left: 40px;
  padding-right: 40px; }
  .container.padding {
    padding-top: 40px;
    padding-bottom: 40px; }
  .container.padding-small {
    padding-top: 15px;
    padding-bottom: 15px; }
  .container.full {
    max-width: 100%; }

.flex {
  display: flex; }
  .flex.column {
    flex-direction: column; }
  .flex.center-left {
    justify-content: center;
    align-items: flex-start; }
  .flex.center-bottom {
    justify-content: flex-end;
    align-items: flex-start; }
  .flex.center-center {
    justify-content: center;
    align-items: center; }
  .flex.center {
    justify-content: center; }
  .flex.reverse {
    flex-direction: row-reverse; }
  .flex.spacebetween {
    justify-content: space-between; }

.relative {
  position: relative; }

.animate-pulse {
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite; }

@keyframes pulse {
  0%,
  100% {
    opacity: 1; }
  50% {
    opacity: 0.5; } }

.header {
  height: 100vh;
  border-bottom: 1px solid #efefef;
  position: relative;
  overflow: hidden; }
  .header h2 {
    font-family: CaslonPro, "Times New Roman";
    opacity: 0;
    transition: opacity 1s ease;
    line-height: 1.5;
    position: absolute; }
    .header h2.show {
      opacity: 1; }
  .header h1 .first,
  .header h1 .second {
    opacity: 0; }
  .header h1 .first {
    transition: opacity 1s ease-in;
    transition-delay: 1s; }
  .header h1 .second {
    transition: opacity 0.6s ease-in;
    transition-delay: 1.8s; }

.yellow-box {
  transform: scale(1);
  position: absolute;
  margin: auto;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  transition: all 1s ease; }

.header.animate .yellow-box {
  transform: scale(3);
  right: -25%; }

.header.animate h1 .first {
  opacity: 1; }

.header.animate h1 .second {
  opacity: 1; }

@media screen and (max-width: 1100px) {
  h1 {
    font-size: 60px; }
  h2 {
    font-size: 30px; } }

@media screen and (max-width: 1000px) {
  h1 {
    font-size: 52px; }
  h2 {
    font-size: 24px; } }

@media screen and (max-width: 730px) {
  .container.padding {
    padding-bottom: 60px;
    padding-top: 60px; }
  .container {
    padding-left: 40px;
    padding-right: 40px; } }

@media screen and (max-width: 639px) {
  h1 {
    font-size: 32px; }
  h2 {
    font-size: 20px; }
  .header.animate .yellow-box {
    transform: scale(3) translateY(15px); } }

@media screen and (max-width: 390px) {
  .container {
    padding-left: 30px;
    padding-right: 30px; } }

/*# sourceMappingURL=style.css.map */